#pass-page {
	width:100%;
	height:100vh;
	background-color:#065549;
	position: absolute;
	z-index: 9999;
	background-image:url('../img/pass.png');
	background-size:100% 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align:right;
	direction: rtl;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pass-page form {
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#pass-page label {
	font-size:1.6em;
	color:#FFF;
	width:50%;
	display:block;	
	position:relative;
}
#pass-page label::before{
	content:"";
	width:0px;
	height:0px;
	border:8px solid #111;
	border-color:transparent #111 transparent transparent;
	position:absolute;
	right:-20px;
	top:10px;

}
#pass-page #pass{

width:50%;
font-size:1.4em;
background-color:rgba(0,0,0,.2);
padding:5px 10px;
border-radius:10px;
margin-top:10px;

}

#pass-page span {
color:red;
text-align: right;
display:block;
width:50%;
font-size:1.2em;
}
#pass-page button {
	margin:20px;
	padding:10px 40px;
	font-size:1.2em;
	color:#FFF;
	background-color:rgba(0,0,0,.7);
	border-radius:10px;
	border:2px solid #065549
}
#pass-page button:hover {
	background-color:#FFF;
	color:#111;
	border:2px solid #065549
}

@media (min-width:992px) {
	#pass-page form {
		width:70%;
	}

}
@media (max-width:991px) {
	#pass-page form {
		width:80%;
	}
	#pass-page span,
	#pass-page #pass,
	#pass-page label {
		width:100%;
	}
}
@media (max-width:500px) {
	#pass-page {
		background-size:cover;
		background-position:center;
	}
}




.hide{
	display:none;
}
.show {
	display:block;
}

#next {
	background-color: #FFF;
	animation-name: ani;
	animation-duration: 6s;
	opacity: 0;
	z-index: -1;
	overflow: auto;
	position: absolute;
	height: 100vh;
	width: 100%;
}
#next .wrapper {
	position: absolute;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
	top: calc(50% - 140px);
	margin-top:0;
}

body {
	background: #065549;
	margin: 0;
	padding: 0;
	position: relative;

}

@keyframes ani {
	0% {
		background-color: #065549;
		opacity: 1;
		z-index: 100000000;
		overflow: hidden;
	}
	20% {
		background-color: #065549;
	}
	40% {
		background-color: #f8eb5f;
	}
	60% {
		background-color: #656d6c;
	}
	80% {
		background-color: #0c534b;
	}

	90% {
		opacity: 1;
		z-index: 100000000;
	}
	100% {
		opacity: 0;
		z-index: -1;
		background-color: #065549;
	}
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@font-face {
	font-family: my;
	src: url(../fonts/my.ttf);
}

/*******************************/

header {
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

header img {
	width: 25%;
	margin: 0;
	padding: 0;
}

.content {
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.next div h3 {
	color: #fff;
	text-align: center;
	line-height: 1.6;
	font-family: my;
	margin: 0;
}

.in div h3 {
	color: #fff;
	text-align: center;
	line-height: 1.8;
	font-family: my;
	font-size: 40px;
}

.content h3 span {
	color: #f8eb5f;
}

footer {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin: 0;
}

.next footer img {
	width: 22%;
	display: inline-block;
}

.in footer {
	margin-top: 0 !important;
}

.in footer span {
	color: #f8eb5f;
	text-align: center;
	font-family: my;
	display: block;
	font-size: 21px;
	margin-bottom: 20px;
}

.body {
	width: 100%;
	display: inline-block;
}

.body img {
	width: 100%;
}

/**************************************************query**************************************/
/**************************************************query**************************************/

@media screen and (max-width: 992px) {
	header {
		display: inline-block;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 100%;
	}

	header img {
		width: 40%;
		margin: 0;
		padding: 0;
	}

	.content {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		margin-top: 20px;
	}

	.in div h3 {
		color: #fff;
		text-align: center;
		line-height: 2;
		font-family: my;
		font-size: 26px;
	}

	.content h3 span {
		color: #f8eb5f;
	}

	footer {
		display: inline-block;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.next footer img {
		width: 27%;
		display: inline-block;
	}

	.in footer {
		margin-top: 25px;
	}

	.in footer span {
		color: #f8eb5f;
		text-align: center;
		font-family: my;
		display: block;
		font-size: 21px;
		margin-bottom: 20px;
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	header {
		display: inline-block;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 100%;
	}

	header img {
		width: 60%;
		margin: 0;
		padding: 0;
	}

	.content {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		margin-top: 20px;
	}

	.next div h3 {
		color: #fff;
		text-align: center;
		line-height: 3;
		font-family: my;
		margin: 0;
		font-size: 25px;
	}

	.in div h3 {
		color: #fff;
		text-align: center;
		line-height: 2;
		font-family: my;
		/* font-size: 19px; */
	}

	.content h3 span {
		color: #f8eb5f;
	}

	footer {
		display: inline-block;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.next footer img {
		width: 27%;
		display: inline-block;
	}

	.in footer {
		margin-top: 25px;
	}

	.in footer span {
		color: #f8eb5f;
		text-align: center;
		font-family: my;
		display: block;
		font-size: 21px;
		margin-bottom: 20px;
		font-size: 16px;
	}
}

@media screen and (max-width: 480px) {
	header {
		display: inline-block;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 100%;
	}

	header img {
		width: 60%;
		margin: 0;
		padding: 0;
	}

	.content {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		margin-top: 30px;
	}

	.next div h3 {
		color: #fff;
		text-align: center;
		line-height: 3;
		font-family: my;
		margin: 0;
		/* font-size: 14px; */
	}

	.in div h3 {
		color: #fff;
		text-align: center;
		line-height: 3;
		font-family: my;
		/* font-size: 14px; */
	}

	.content h3 span {
		color: #f8eb5f;
	}

	footer {
		display: inline-block;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.next footer img {
		width: 55%;
		display: inline-block;
	}

	.in footer {
		margin-top: 30px;
	}

	.in footer span {
		color: #f8eb5f;
		text-align: center;
		font-family: my;
		display: block;
		font-size: 21px;
		margin-bottom: 20px;
		font-size: 14px;
	}
}

.next  img {
	height: 50vh ;

	
}
@media (max-width: 300px) {
	.next  img {
		height: 40vh ;
	}
}
@media (min-width: 500px) {
	.next  img {
		height: 100vh ;
	}
}


.care {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
}
.care img {
    height:100%;
    max-width:100%;
}


@media (max-height:600px) {
	body {
		overflow: auto;
	}
	header {
		width:auto;
		height:25vh;
		position: absolute;
	}
	header img {
		width:100%;
		height:100%;
	}
	.care{
		position:absolute;
		top: auto;
	}
	.content {
		position: relative;
		top: 25vh;
	}

	.in footer span {
		position: relative;
    	top: 40px;
	}
	footer {
		position: absolute !important;
    	top: 60vh;
    	left: 0;
	}
	
}